<h4>Formularios <small>data</small></h4>
<hr />
<form [formGroup]="personalForm" (ngSubmit)="guardarUsuario()">
  <div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col">
        <input
          formControlName="nombre"
          class="form-control"
          type="text"
          placeholder="Nombre"
          [class.is-invalid]="NombreNoValido"
        />
        <small *ngIf="NombreNoValido" class="text-danger"
          >Ingrese al menos 5 letras</small
        >
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col">
        <input
          formControlName="apellido"
          class="form-control"
          type="text"
          placeholder="Apellido"
          [class.is-invalid]="ApellidoNoValido"
        />
        <small *ngIf="ApellidoNoValido" class="text-danger"
          >Apellido no valido</small
        >
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col">
      <input
        formControlName="correo"
        class="form-control"
        type="email"
        placeholder="Correo electrónico"
        [class.is-invalid]="CorreoNoValido"
      />
      <small *ngIf="CorreoNoValido" class="text-danger">Correo no valido</small>
    </div>
  </div>

  <div class="form-group row" formGroupName="direccion">
    <label class="col-2 col-form-label">Direccion</label>
    <div class="form-row col">
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Ingrese su distrito"
          formControlName="distrito"
          [class.is-invalid]="DistritoNoValido"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Ingrese su ciudad"
          formControlName="ciudad"
          [class.is-invalid]="CiudadNoValida"
        />
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button
        type="button"
        (click)="setInitialData()"
        class="btn btn-outline-primary"
      >
        Cargar datos anteriores
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Opcion</th>
          </tr>
        </thead>
        <tbody formArrayName="amigos">
          <tr *ngFor="let control of amigos.controls; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
              <input type="text" class="form-control" [formControlName]="i" />
            </td>
            <td>
              <button
                type="button"
                class="btn btn-danger"
                (click)="deleteFriend(i)"
              >
                Borrar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button
        class="btn btn-warning my-4 btn-block"
        type="button"
        (click)="addFriend()"
      >
        Agregar nuevo amigo
      </button>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button
        type="button"
        (click)="deleteData()"
        class="btn btn-outline-primary"
      >
        Limpiar datos anteriores
      </button>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>
</form>

<pre>
  Estado: {{ personalForm.valid }}
  status: {{ personalForm.status }}
</pre>

<pre>
  {{ personalForm.value | json }}
</pre>
